@import "tailwindcss";
@plugin "daisyui";


    .istrue{
        display: flex;
    }
    .isfalse{
        display: none;
    }

.bar{
    display: none;
}
@media (max-width: 393px) {
    .bar{
        display: flex;
    }
    .istrue{
        display: flex;
    }
    .isfalse{
        display: none;
    }
    .mynav{
        display: none;
    }
    .mynav1{
    display: flex;
    position: absolute;
    background-color: white;
    left: 0;
    top: 80px;
    width: 100%; 
    z-index: 999;
    /* padding-bottom:10px ; */
    padding: 10px;

        color: black;
    }
    
    .user{
        display: none;
    }

}